```{=html}
<ul class="list">
<% for (const item of items) { %>
  <li>
    <a href="<%- item.href %>"><%= item.name %></a><br/>
    <%= item['custom-field'] %>
    <%= item.custom2['custom3'] %>
  </li>
<% } %>
</ul>
```